
.carrusel__encuadre {
    height: 85vh;
}

.carrusel__imagenes {
    height: 100%;
    filter: brightness(0.5);
    object-fit: cover;
}

.carrusel__texto {
    text-align: end;
    bottom: 15%;
}

@media screen and (min-width:1200px) {
    .carrusel__texto {
    left: 39.37rem;
    }
}

.textoChico {
    font-size: small;
}

.textoMuyChico {
    font-size: x-small;
}

.footer__fondo {
    background: linear-gradient(103deg, #1C3844 0%, #1D5272 100%);
}

footer ul li {
    display: flex;
    align-items: center;
}

footer a {
    max-width: 7.62rem;
}

footer a:hover {
    color: lightblue !important;
}

.estudiante__Select, .estudiante:hover  {
    background-color: blue;
    color: white;
}

.trainee__Select, .trainee:hover {
    background-color: green;
    color: white;
}

.junior__Select, .junior:hover {
    background-color: orange;
    color: white;
}

.general__Select, .general:hover {
    background-color: lightgrey;
}